*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.contenedordecarrucel{
    background-color: rgb(66, 31, 99);
    height: 300px;
    overflow: hidden;
}
.itemcar{
    background-color: rgb(27, 27, 230);
    position: relative;
    height: 100%;
}
section.itemcar.uno{
    background-color: rgb(85, 240, 240)
}
section.itemcar.dos{
    background-color: rgb(94, 94, 235);

}
section.itemcar.tres{
    background-color: rgb(123, 64, 179);

}
.contenidocar{
    height: 100%;
}
.flechascar{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}